/* Desktop First */

/* Small Desktop */
@media screen and (max-width: 1100px) {
    .card {
        flex-basis: calc(100% / 4 - 15px * 2);
    }

    .subsection-menu > ul > li {
        /* padding: 0; */
        /* flex-basis: calc(100% / 5 - 32px - 20px); */
        /* white-space: nowrap; */

        /* flex-basis: calc(100% / 5 - .2rem * 2); */

        /* gap: .2rem; */
        
    }

    .subsection-menu ul {
        /* gap: 10px; */
        /* gap: .2rem; */

        max-width: 50%;
    }

    /* .subsection-menu > ul > li:last-of-type {
        flex-grow: 2;
    } */
    

    /* TEST */
    /* .subsection-menu > div {
        flex-basis: calc(100% / 10 - var(--standard-padding) * 2);
    } */

}

/* Tablet */
@media screen and (max-width: 700px) {
    .card {
        flex-basis: calc(100% / 2 - 15px * 2);
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    nav {
        flex-shrink: 1;
        min-width: 60px;
        align-items: center;
        padding-right: .5rem;
    }
    
    .nav-logo img:last-of-type {
        display: inline-block;
    }

    .nav-logo img:first-of-type, nav h3, .nav-menu span, .nav-playlist-list, .profile-box-install::after, .nav-playlist > ul {
        display: none;
    }
    
    .profile-box-user img {
        width: 1.5rem;
    }

    .profile-box-user {
        padding-left: .1rem;
    }

    .nav-selected::after {
        left: -.9rem;
    }
    
}
