:root {
    --nav-text-color: #a3a3a3;
    --light-color: #141922;
    --dark-color: #080b12;
    --bar-color: #282828;
    --line-nav-color: #adff2f;
    --standard-padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Gotham', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
}

main section:last-of-type {
    padding-bottom: calc(var(--standard-padding) * 2);
}

/* Classi generali */
.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 0;
}

/* Stili testo */
h1 {
    color: #ffffff;
}

h2 {
    padding-bottom: 1.5rem;
    color: #ffffff;
}

h3 {
    padding: .5rem 0;
    font-weight: bold;
    color: #ffffff;
}

p {
    color: #ffffff;
}

.subtitle {
    color: var(--nav-text-color);
    text-align: left;
    padding-bottom: 1.5rem;
}

i {
    color: var(--nav-text-color);
}

ul {
    list-style: none;
}
/******************/
/* Stili base link */
a {
    color: var(--nav-text-color);
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}
/******************/
/* Stili pulsanti */
.btn {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--dark-color);
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: .8rem 3rem;
    margin: 1rem .3rem 1rem 0;
}
/******************/
/* Modifica scollbar */
.nav-playlist-list::-webkit-scrollbar, .app-content-box::-webkit-scrollbar {
    width: 12px;
}

.nav-playlist-list::-webkit-scrollbar-track {
    background: #000000;
}

.app-content-box::-webkit-scrollbar-track {
    background: var(--light-color);
}

.nav-playlist-list::-webkit-scrollbar-thumb, .app-content-box::-webkit-scrollbar-thumb {
    background-color: var(--line-nav-color);
    border-radius: 10px;
    border: 4px solid #000000;
}

.app-content-box::-webkit-scrollbar-thumb {
    background-color: var(--line-nav-color);
    border-radius: 10px;
    border: 4px solid var(--light-color);
}
/******************/
/*************************************************************/
/* BOX SUPERIORE */
/*************************************************************/
/* NAV */
nav {
    justify-content: space-between;
    padding-bottom: var(--standard-padding);
    padding-right: var(--standard-padding);
    background-color: #000000;
    flex-shrink: 0;
    min-width: 200px;
}

nav a {
    font-size: .8rem;
    font-weight: bold;
}

nav span {
    color: var(--nav-text-color);
    white-space: nowrap;
}

/* Sezione superiore */
.nav-logo, .nav-menu {
    padding-top: var(--standard-padding);
    padding-left: var(--standard-padding);
}

.nav-playlist {
    padding-top: .2rem;
    padding-left: var(--standard-padding);
}

.nav-logo img {
    max-width: 80%;
    object-fit: cover;
    cursor: pointer;
}

.nav-logo img:last-of-type {
    display: none;
}

.nav-menu i {
    padding-right: .5rem;
    padding-left: .5rem;
}

.nav-menu svg {
    padding-right: .5rem;
    width: 2.5rem;
    cursor: pointer;
}

.nav-selected {
    position: relative;
}

.nav-selected a {
    color: #ffffff;
}

.nav-menu-list > li:first-of-type > svg > path {
    fill: #ffffff;
}

.nav-selected::after {
    position: absolute;
    left: -1rem;
    background-color: var(--line-nav-color);
    height: calc(100% - .8rem);
    width: 3px;
    content: "";
}

.nav-menu-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.nav-menu-list > li > svg > path {
    fill: var(--nav-text-color);
}

.nav-menu li {
    padding-bottom: .8rem;
    color: var(--nav-text-color);
}

.nav-menu > h3:first-of-type {
    text-transform: uppercase;
}

.nav-menu h3 {
    padding-left: .3rem;
}

.nav-playlist-list {
    padding: .5rem 0 0 1rem;
}

.nav-menu-new-playlist {
    display: flex;
    align-items: center;
}

.nav-menu-new-playlist > i {
    font-size: 2.5rem;
    cursor: pointer;
}

.nav-menu i:hover, .nav-menu-list > li:hover > span > a, .nav-playlist > ul > li:hover > i, .nav-playlist > ul > li:hover > a {
    color: #ffffff;
}

.nav-menu-list > li > svg:hover > path, .nav-menu-list > li:hover > svg > path {
    fill: #ffffff;
}
/******************/
/* Sezione inferiore */
.profile-box-install {
    position: relative;
    padding-bottom: .5rem;
    cursor: pointer;
}

.profile-box-install > svg {
    width: 2rem;
}

.profile-box-install > svg > path {
    fill: var(--nav-text-color);
}

.profile-box-install::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--nav-text-color);
    height: 1px;
    width: 95%;
    content: "";
}

.profile-box > div {
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

.profile-box-user img {
    width: 2rem;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    background-color: var(--nav-text-color);
}

.profile-box-user h3 {
    font-size: 1rem;
}

.profile-box-install:hover > svg > path {
    fill: #ffffff;
}

.profile-box-install:hover > span {
    color: #ffffff;
}
/******************/
/* MAIN */
main h3 {
    text-align: center;
}

.static-bar {
    background-color: var(--dark-color);
    justify-content: flex-end;
}

.app-content-box {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--light-color);
    padding: 0 1rem;
}

/* Menù sottosezioni */
.subsection-menu {
    padding: 1rem 0;
}

.subsection-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
}

.subsection-menu > ul > li {
    /* flex-basis: calc(100% / 6 - .2rem * 2); */
    white-space: nowrap;
}

.subsection-menu a {
    text-transform: uppercase;
}

.subsection-menu > ul > li:first-of-type {
    position: relative;
}

.subsection-menu > ul > li:first-of-type::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--line-nav-color);
    height: 3px;
    width: 40px;
    content: "";
}
/******************/
/* Sezioni con Card */
.cards-box {
    display: flex;
    flex-wrap: wrap;
    gap: var(--standard-padding);
}

.card {
    flex-basis: calc(100% / 6 - 15px * 2);
}

.card img {
    max-width: 100%;
    object-fit: cover;
}

.card > .subtitle {
    text-align: center;
}

.card-round img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
/******************/

/*************************************************************/
/* BOX INFERIORE */
/*************************************************************/
.buttons-box {
    background-color: lightpink;
    justify-content: space-between;
    padding: 0.8rem;
    /* gap: 5rem; */
}

/* Sezione brano in riproduzione */
.now-play {
    justify-content: flex-start;
    flex-basis: calc(100% / 3);
}

.now-play i {
    padding: 0 .5rem;
}

.now-play-card {
    flex-basis: 50%;
}

.now-play-card img {
    max-width: 25%;
    object-fit: cover;
}

.now-play-card h3, .now-play-card p {
    padding: 0 0 0 .8rem;
}
/******************/
/* Sezione Pulsanti */
.buttons-box-btn-section {
    flex-grow: 2;
}

.buttons-box-menu ul {
    display: flex;
    gap: var(--standard-padding);
    justify-content: center;
}

.buttons-box-menu i {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.time-play {
    padding-top: 1rem;
}

.time-play > p {
    padding: 0 1rem;
}

.time-play-line {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: var(--nav-text-color);
}

.time-play-line::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 3px;
    width: 25%;
    content: "";
}
/******************/
/* Sezione Regolazioni */
.regolations i {
    padding: 0 1rem;
}

.regolations-line {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: var(--nav-text-color);
}

/* .regolations-line::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 3px;
    width: 25%;
    content: "";
} */
/******************/
