:root {
    --nav-text-color: #a3a3a3;
    --light-color: #141922;
    --dark-color: #080b12;
    --bar-color: #282828;
    --line-nav-color: #adff2f;
    --standard-padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
}

main section:last-of-type {
    padding-bottom: calc(var(--standard-padding) * 2);
}

/* Stili testo */
.subtitle {
    color: var(--nav-text-color);
}

i {
    color: var(--nav-text-color);
}

ul {
    list-style: none;
}
/******************/
/* Stili base link */
a {
    color: var(--nav-text-color);
    text-decoration: none;
}
/******************/
/* Stili pulsanti */
.btn {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--dark-color);
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: .8rem 3rem;
    margin: 1rem .3rem 1rem 0;
}
/******************/
/*************************************************************/
/* BOX SUPERIORE */
/*************************************************************/
.global-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    background-color: lightblue;
}

/* NAV */
nav {
    width: 200px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: var(--standard-padding);
}
/* Sezione superiore */
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--standard-padding) / 2);
    padding-top: var(--standard-padding);
}

.nav-logo img {
    max-width: 50%;
    object-fit: cover;
}

.nav-menu {
    padding: 1.5rem 0 0 1rem;
}

.nav-menu i {
    padding-right: .5rem;
    padding-left: .5rem;
}

.nav-menu-selected {
    position: relative;
}

.nav-menu-selected::after {
    position: absolute;
    left: -1rem;
    background-color: var(--line-nav-color);
    height: calc(100% - .8rem);
    width: 3px;
    content: "";
}

.nav-menu li {
    padding-bottom: .8rem;
    color: var(--nav-text-color);
}

.nav-menu > h3:first-of-type {
    text-transform: uppercase;
}

.nav-menu-new-playlist {
    display: flex;
    align-items: center;
}

.nav-menu-new-playlist > i {
    font-size: 3rem;
}
/******************/
/* Sezione inferiore */
.profile-box p {
    position: relative;
    padding-bottom: .5rem;
}

.profile-box > p::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--nav-text-color);
    height: 3px;
    width: 95%;
    content: "";
}

.profile-box > div {
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

.profile-box > div > img {
    max-width: 15%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    background-color: var(--nav-text-color);
    margin-right: .5rem;
    margin-left: .5rem;
}
/******************/
/* MAIN */
main {
    flex-grow: 1;
    overflow: auto;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
}

.static-bar {
    flex-shrink: 0;
    background-color: rgb(179, 103, 241);
    display: flex;
    justify-content: flex-end;
}

.app-content-box {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(231, 233, 130);
}

/* Sezioni con Card */
.cards-box {
    display: flex;
    flex-flow: row wrap;
    gap: var(--standard-padding);
}

.card {
    background-color: lightseagreen;
    max-width: calc(100% / 6 - 15px);
}

.card img {
    max-width: 100%;
    object-fit: cover;
}

.card-round img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
/******************/
/* Menù sottosezioni */
.subsection-menu ul {
    display: flex;
    gap: var(--standard-padding);
    justify-content: center;
}

.subsection-menu a {
    text-transform: uppercase;
}

.subsection-menu > ul > li:first-of-type {
    position: relative;
}

.subsection-menu > ul > li:first-of-type::after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--line-nav-color);
    height: 3px;
    width: 40px;
    content: "";
}
/******************/

/*************************************************************/
/* BOX INFERIORE */
/*************************************************************/
.buttons-box {
    flex-shrink: 0;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    /* gap: 5rem; */
}
/* Sezione brano in riproduzione */
.now-play {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: calc(100% / 3);
}

.now-play i {
    padding: 0 .5rem;
}

.now-play-card {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.now-play-card img {
    max-width: 25%;
}

.now-play-card h3, .now-play-card p {
    padding-left: .8rem;
}
/******************/
/* Sezione Pulsanti */
.buttons-box-menu ul {
    display: flex;
    gap: var(--standard-padding);
    justify-content: center;
}

.buttons-box-menu i {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.buttons-box-btn-section {
    flex-grow: 2;
}

.time-play {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
}

.time-play > p {
    padding: 0 1rem;
}

.time-play-line {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: var(--nav-text-color);
}

.time-play-line::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 3px;
    width: 25%;
    content: "";
}
/******************/
/* Sezione Regolazioni */
.regolations {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.regolations i {
    padding: 0 1rem;
}

.regolations-line {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: var(--nav-text-color);
}

/* .regolations-line::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 3px;
    width: 25%;
    content: "";
} */
/******************/
