:root {
    --nav-text-color: #a3a3a3;
    --light-color: #141922;
    --dark-color: #080b12;
    --bar-color: #282828;
    --line-nav-color: #adff2f;
    --standard-padding: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

/* Stili testo */
.subtitle {
    color: var(--nav-text-color);
}
/******************/

/* Stili base link */
a {
    color: var(--nav-text-color);
    text-decoration: none;
}
/******************/

/*************************************************************/
/* BOX SUPERIORE */
/*************************************************************/
.global-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    background-color: lightblue;
}

/* NAV */
nav {
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    background-color: lightgoldenrodyellow;
}

/* MAIN */
main {
    flex-grow: 1;
    overflow: auto;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
}

.static-bar {
    flex-shrink: 0;
    background-color: rgb(179, 103, 241);
}

.app-content-box {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(231, 233, 130);
}

/* Sezioni con Card */
.cards-box {
    display: flex;
    flex-flow: row wrap;
    gap: var(--standard-padding);
}

.card {
    background-color: lightseagreen;
    max-width: calc(100% / 6 - 15px);
}

.card img {
    max-width: 100%;
    object-fit: cover;
}

.card-round img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.card-title {
    font-weight: bold;
}
/******************/
/* Menù sottosezioni */
.subsection-menu {
}

.subsection-menu ul {
    display: flex;
    list-style: none;
    gap: var(--standard-padding);
    justify-content: center;
}

.subsection-menu a {
    text-transform: uppercase;
}

.subsection-menu > ul > li:first-of-type {
    position: relative;
}

.subsection-menu > ul > li:first-of-type::after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--line-nav-color);
    height: 3px;
    width: 40px;
    content: "";
}
/******************/

/*************************************************************/
/* BOX INFERIORE */
/*************************************************************/
.buttons-box {
    flex-shrink: 0;
    background-color: lightpink;
}
